* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#ffffff;
}

/* header{
    position: relative;
} */

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title{
    width: 50vw;
    font-style: italic;
    font-size: 3rem;
}

.nav_list{
    /* position: absolute;
    right: 0;
    top: 10%; */
    list-style: none;
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -1rem;
}

.nav_list__item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #70ad47;
    width: calc(30% - 0.5rem);
    height: 2rem;
    border: 1px solid black;
    color: #ffffff;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.nav_list__item.button{
    background-color: #4472c4;
}

.nav_list__item > a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

.banner{
    width: 100%;
    height: 45vh;
    background-image: url(../assets/img/design1_image2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title_main{
    background-color: #ffffff;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    border: solid 1px;
}

.title_main h2{
    height: 100%;
    padding-top: 0.3rem;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.logo img{
    width: 10vw;
    margin-left: 1rem;
}

.container_list{
    list-style: none;
    margin-top: 0.5rem;
    width: 85%;
}

.container_list__item{
    margin-bottom: 1rem;
}

.container_list__item > h3{
    font-style: italic;
}

.container_list__item > p{
    text-indent: 1rem;
    padding-right: 4rem;
}

.contacto{
    margin-top: 0.5rem;
    width: 85%;
}

.contacto > p{
    margin-bottom: 1rem;
}